<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!--
      INSTRUCTIONS:
      As of the new 2-layer token system, you should put your Mapbox token in
      'gradle.properties' (see gradle.properties.example for details).

      MAPBOX_TOKEN=pk.your_token_here

      This file (developer-config.xml) is only for backward compatibility.
      If you choose to use this file:
      1. Copy this file to app/src/main/res/values/developer-config.xml
      2. Paste your token (starts with pk.) below.
    -->
    <string name="mapbox_access_token" translatable="false">YOUR_MAPBOX_PUBLIC_TOKEN_HERE</string>
</resources>
